* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #000;
}

section {
  display: flex;
  flex-direction: flex-start;
  align-items: center;
  justify-content: space-around;
}
section .inicio {
  margin-bottom: 100px;
  border-bottom: 1px solid #10faf2;
}
section .primeiroh1 {
  text-shadow: 1px 5px 7px #842dd6;
  font-size: 80px;
  font-family: "Sacramento", cursive;
  color: #10faf2;
}
section .primeirop {
  font-size: 70px;
  font-family: "Sacramento", cursive;
  color: #10faf2;
}
section .eu {
  box-shadow: 5px 5px 14px 5px #10faf2;
  border-radius: 50%;
  margin: 0;
}

.sobre {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  color: #10faf2;
  margin-bottom: 80px;
}
.sobre .segundop {
  border: #341ed6;
  border-style: groove;
  margin-right: 100px;
  margin-left: 50px;
  width: 700px;
  height: 200px;
  font-size: 30px;
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
}

.formacao {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 300px 0px 50px;
  color: #10faf2;
  padding-bottom: 80px;
  margin: 0px 50px 50px;
  border-bottom: 1px solid #10faf2;
}
.formacao .segundop {
  border: #341ed6;
  border-style: groove;
  margin-right: 100px;
  margin-left: 50px;
  width: 700px;
  height: 200px;
  font-size: 30px;
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
}

.formacao a {
  width: 300px;
}

footer {
  display: flex;
  flex-direction: flex-start;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 30px 0px;
}

footer ul li {
  background: #341ed6;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
}

footer img {
  width: 40px;
  height: 40px;
}

footer p {
  margin-left: 20px;
}

.terceirop {
  margin-top: 10px;
  font-family: "Bangers", cursive;
  font-size: 100px;
  border-bottom: 50px double #341ed6;
  color: #ffff;
}

.quartop {
  font-size: 35px;
  color: #ffff;
}

@media (max-width: 379px) {
  section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-left: 70px;
    margin: 0;
    padding: 0;
  }
  section .inicio {
    padding: 0;
  }
  section .inicio .primeiroh1 {
    font-size: 70px;
  }
  section .inicio .primeiroh1 .primeirop {
    font-size: 50px;
  }
  section .inicio .primeiroh1 .primeirop .eu {
    width: 60%;
  }

  .sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .sobre .segundop {
    font-size: 15px;
    width: 90%;
    height: min-content;
    margin: 0px 20px 40px 0px;
  }

  .formacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
  }
  .formacao .segundop {
    font-size: 15px;
    width: 90%;
    height: min-content;
    margin: 0px 20px 40px 0px;
  }

  footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  footer .terceirop {
    font-size: 80px;
    margin: 0%;
  }
  footer .quartop {
    margin: 0%;
    font-size: 18px;
  }
}

/*# sourceMappingURL=style.css.map */
